:root {
    /* Define the color scheme */
    --primary-color: #313131b6;
    --secondary-color: #2f2f2f6f;
    --accent: #dc82f8;
    --text-primary: #ebebeb;
    --text-secondary: #aaaaaa;
}

body {
    font-family: monospace;
    color: var(--text-primary);
}

iframe {
    display: none;
}
