body {
    margin: 0;
    border: 0;
    padding: 0;

    background-color: rgb(137, 137, 252);
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "settings boards"
        "settings results";
}

#settings {
    grid-area: settings;
    background-color: rgb(137, 137, 252);

    align-items: start;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

#settings > div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}

#settings-field {
    display: flex;
    flex-direction: column;
}

#boards {
    grid-area: boards;
    background-color: rgb(120, 120, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.bingo-board {
    margin: 1vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    background-color: rgb(234, 221, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.bingo-square {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#results {
    grid-area: results;
    background-color: rgb(96, 96, 216);
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
}

#stats {
    border: 2px solid black;
}

#graph {
    width: 90%;
    height: 100%;
}
#canvas-chart {
    height: 80%;
    width: 90%;
    background-color: red;
}
