.projects {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.project-content {
    width: 80vw;
    margin: 1% 1% 1% 10%;
    text-align: left;
    position: static;
}

.project-content > .project-desc {
    margin-left: 1%;
    margin-top: 1%;
}

.project-desc > p {
    margin: 1% 2% 1% 2%;
}

.project-desc > h2 {
    margin-left: 1%;
}

.project-desc > * {
    margin-left: 1%;
}

.project-header > a {
    margin: 1% 1% 1% 2%;
}

.project-gallery {
    width: 70vw;
    height: 60vh;
    background-color: var(--primary-color);
}

.arrow {
    display: block !important;
    width: 4vw;
    height: auto;
    margin-top: 27vh;
    position: absolute;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.5;
}
.project-dropdown:hover {
    opacity: 0.5;
}

.right {
    /* rotate 90 */
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 66vw;
}

.left {
    /* rotate -90 */
    transform: rotate(90deg);
    position: absolute;
}

.image-container {
    width: 100%;
    height: 100%;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.github-img {
    height: 80%;
}
.devpost-img {
    height: 80%;
}

.project-header {
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    /* background-color: red; */
}

.project-header > .icon {
    height: 70%;
    margin: 0 0% 0 1%;
}

.project-header > .project-title {
    margin-left: 1%;
    font-size: 2.6rem;
    overflow: hidden;
    color: White;
}

.project-title {
    margin-left: 1%;
    font-size: 2vw;
}

.project-description {
    width: 70vw;
    margin-left: 2vw;
}
